body{
   background-image: url("../images/qbkls.png");
}

header{
    background-color: #ffffff;
    width: 100vw;
    font-family: 'Georgia','Times New Roman', Times, serif serif;
    height: 85px;
    position: fixed;
    top:0;
    border-bottom: 2px gray solid;
}

.name-box{
    background-color: #4aaaa5;
    height: 85px;
    width: 200px;
    color: #ffffff;
    top: 0;
    left: 200px;
    float: left;
    position: absolute;
    text-align: center;
}

.index-container{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    position: relative;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    width: 960px;
    height: 560px;
    margin-bottom: 130px;
    margin-top: 140px;
    border: 1px #dddddd solid;
}

.gray-line{

}

footer{
    background-color: #666666;
    color: #ffffff;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    height: 60px;
}

.list-box{
    top: 0;
    height: 85;
    width: 250px;
    right: 100px;
    position: absolute;
}

.horizontal-list{
    text-align: center;
    padding: 13px;
    color: #777777;
}

.horizontal-list li{
    display: inline;
}

.about-me{
    color: #4aaaa5;
    font-family: 'Georgia','Times New Roman', Times, serif serif;
}

a:link, a:visited{
    color: #777777;
    text-decoration: none;
    font-size: 20px;
}

h2 {
    position: relative;
    right: 315px;
    font-family: 'Georgia','Times New Roman', Times, serif;
    font-size: 30px;
}

.paragraph{
    line-height: 2;
    padding: 5px;
}